.dayHeader {
    display: flex;
    flex-direction: column;
}

.dayBody {
    padding: 0;
}

td.tableCell {
    padding: 0;
}

.Item {
    height: 5vh;
    border: 0.5px solid #e0e0e0;
    padding: 0;
}